body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Poppins-Medium";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.cont {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.cont {
  max-width: 1380px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fca311;
  border-radius: 3px;
}
@media (max-width: 1600px) {
  .cont {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .cont {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .cont {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .cont {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .cont {
    max-width: 540px;
  }
}
@font-face {
  font-family: Poppins-Regular;
  src: url("./fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("./fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("./fonts/poppins/Poppins-SemiBold.ttf");
}
* {
  box-sizing: border-box;
}
.ptr {
  cursor: pointer;
}
.tdn {
  text-decoration: none !important;
}
.wh {
  color: white !important;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
